<template>
  <div class="container flex-wrap justify-center">
    <!-- //авторизация по qr -->
    <button
      @click="addBrowser"
      class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 rounded-xl shadow text-white bg-green-400 p-2 hover:bg-green-600"
    >
      Добавить браузер
    </button>
    <transition name="slide-fade">
      <div v-if="showQR" class="flex justify-between items-center">
        <div class="mx-auto">
          <h2 class="text-gray-600 text-2xl text-left">
            Чтобы использовать WhatsApp в нашем сервисе:
          </h2>
          <h3 class="text-gray-600 text-xl text-left mt-2">
            1. Откройте WhatsApp на своем телефоне
          </h3>
          <h3 class="text-gray-600 text-xl text-left mt-2">
            2. Нажмите
            <strong>
              Меню
            </strong>
            или
            <strong>Настройки</strong>
            и выберите <strong>WhatsApp Web</strong>
          </h3>
          <h3 class="text-gray-600 text-xl text-left mt-2">
            3. Наведите свой телефон на этот экран, чтобы считать код
          </h3>
        </div>
        <div class="flex justify-center">
          <img class="w-1/2" src="../assets/qr.png" />
        </div>
      </div>
    </transition>

    <!-- отображение браузеров-->

    <div class="m-5 ">
      <h2 class="text-gray-800 text-2xl">Панель управления:</h2>
    </div>
    <div class="flex flex-wrap md:flex-wrap justify-center">
      <div
        v-for="(browser, key) in browsers"
        :key="key"
        class="bg-white relative w-1/2 md:w-1/4 mt-3 mr-3 flex flex-wrap items-center justify-center p-4 rounded-xl shadow border"
      >
        <button
          @click="deleteBrowser(browser.id)"
          class="absolute bg-red-400 h-4 w-4 pb-1 text-white flex items-center justify-center rounded-full top-0 right-0 border-white"
        >
          -
        </button>
        <button
          v-if="!browser.status"
          @click="authorize(browser.id)"
          class="w-full rounded-xl mt-2 shadow text-white bg-green-400 p-2 hover:bg-green-600"
        >
          Авторизовать телефон
        </button>
        <button
          v-if="browser.status"
          @click="deautherize(browser.id)"
          class="w-full rounded-xl shadow text-white bg-red-400 p-2 hover:bg-green-600"
        >
          Выход
        </button>

        <div
          class="w-full flex mt-2 justify-center items-center"
          v-if="browser.waitAuth"
        >
          <p class="text-sm mr-3 mt-1 flex justify-center text-gray-500">
            Ожидание qr кода
          </p>
          <img
            src="https://lh3.googleusercontent.com/proxy/Pf6X0UM4Qji3AhJKL4atCibhbsebbcYYkmKGnR6b3sqXVuhDRSYVgi6dbyeAoJNvYm584Rnz3Cp8GagicFrAl7S6ed6pd99qt5_z9pskPiTob-4XAq3x1Dq12wXu"
            alt=""
            class="w-12"
          />
        </div>
        <div class="mx-auto relative flex items-center justify-between">
          <img
            v-if="browser.name === 'Chrome'"
            src="../assets/chrome.png"
            alt="Browser type"
            class="w-16  h-16 rounded-full"
          />
          <img
            v-if="browser.name === 'Firefox'"
            src="../assets/Firefox.png"
            alt="Browser type"
            class="w-16 h-16 rounded-full"
          />

          <span
            class="absolute h-4 w-4 rounded-full bottom-0 right-0 border-2 border-white"
            :class="browser.status ? 'bg-green-400' : 'bg-red-400'"
          ></span>
        </div>
        <div class="flex-grow p-3">
          <div class="font-semibold text-gray-700">
            Браузер {{ browser.name }}
          </div>
          <div class="text-sm flex justify-center text-gray-500">
            <p class="mr-2">Статус:</p>
            <p v-if="browser.status" class="text-green-500">Авторизован</p>
            <p v-if="!browser.status" class="text-red-500">Не авторизован</p>
          </div>
          <div class="text-sm mt-1 flex justify-center text-gray-500">
            <p>Время работы: {{ browser.workTime }} мин.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      browsers: [
        {
          status: false,
          name: "Firefox",
          id: 1,
          workTime: 30,
          waitAuth: false,
        },
        {
          status: false,
          name: "Firefox",
          id: 2,
          workTime: 54,
          waitAuth: false,
        },
        {
          status: false,
          name: "Firefox",
          id: 3,
          workTime: 30,
          waitAuth: false,
        },
        {
          status: false,
          name: "Firefox",
          id: 4,
          workTime: 54,
          waitAuth: false,
        },
      ],
      showQR: false,
      waitAuth: false,
    };
  },
  methods: {
    deleteBrowser(id) {
      this.browsers = this.browsers.filter((browser) => {
        return browser.id !== id;
      });
      console.log(this.browsers);
    },
    deautherize(id) {
      this.browsers[id - 1].status = !this.browsers[id - 1].status;
    },

    authorize(id) {
      this.browsers[id - 1].waitAuth = !this.browsers[id - 1].waitAuth;
      setTimeout(() => {
        this.$swal.fire({
          title: "Авторизация номера!",
          html:
            "<div class='mx-auto'> <h3 class='text-gray-600 text-left'>Чтобы использовать WhatsApp в нашем сервисе:</h2><p class='text-gray-600 text-sm text-left mt-2'>            1. Откройте WhatsApp на своем телефоне          </p>           <p class='text-gray-600 text-sm text-left mt-2'>            2. Нажмите            <strong>              Меню            </strong>            или            <strong>Настройки</strong>            и выберите <strong>WhatsApp Web</strong>          </p>          <p class='text-gray-600 text-sm text-left mt-2'>            3. Наведите свой телефон на этот экран, чтобы считать код          </p>        </div>",
          imageUrl:
            "https://static.toiimg.com/thumb/msid-80875047,width-1200,resizemode-4/80875047.jpg",
          imageWidth: 300,
          imageHeight: 300,
          imageAlt: "WatsUpp QR",
        });
        this.browsers[id - 1].status = !this.browsers[id - 1].status;
        this.browsers[id - 1].waitAuth = !this.browsers[id - 1].waitAuth;
      }, 5000);

      console.log(id);
    },
    addBrowser() {
      this.browsers.push({
        status: false,
        name: "Chrome",
        id: this.browsers.length + 1,
        workTime: 25,
        waitAuth: false,
      });
      console.log(this.browsers.length);
    },
  },
};
</script>

<style>
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(20px);
  opacity: 0;
}
</style>
