<template>
  <div class="flex justify-center">
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/3">
      <div class="mt-2">
        <img class="w-32 mx-auto" src="../assets/ico.png" alt="" />
        <div class="mt-5">
          <div class="text-left">
            <div class="text-sm font-bold text-gray-700 tracking-wide">
              Адрес электронной почты
            </div>
            <input
              v-model="email"
              class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-green-500"
              type=""
              placeholder="user@mailserver.com"
            />
          </div>
          <div class="mt-8">
            <div class="flex justify-between items-center">
              <div class="text-sm font-bold text-gray-700 tracking-wide">
                Ваш пароль
              </div>
            </div>
            <input
              v-model="password"
              class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-green-500"
              type="password"
              placeholder="Введите Ваш пароль"
            />
          </div>
          <div class="flex justify-end mt-2">
            <router-link
              class="text-xs text-right font-semibold text-green-600 hover:text-green-800
                                        cursor-pointer"
              to="/forgot"
            >
              Забыли пароль?
            </router-link>
          </div>
          <div class="mt-5">
            <button
              @click="login"
              class="bg-green-500 text-white p-4 w-full rounded-full tracking-wide
                                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-green-600
                                shadow-lg"
            >
              Вход
            </button>
          </div>

          <div class="mt-5">
            Хотите зарегистрироваться ?
            <router-link
              class="cursor-pointer text-green-600 hover:text-green-800"
              to="/register"
              >Регистрация</router-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    login() {
      console.log(this.email + " " + this.password);
    },
  },
};
</script>

<style></style>
