<template>
  <div class="flex justify-center">
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/3">
      <div class="mt-2">
        <img class="w-32 mx-auto" src="../assets/ico.png" alt="" />
        <div class="mt-5">
          <div class="text-left">
            <div class="text-sm font-bold text-gray-700 tracking-wide">
              Ваше имя
            </div>
            <input
              v-model="name"
              class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-green-500"
              type=""
              placeholder=""
            />
          </div>
          <div class="mt-8 text-left">
            <div class="text-sm font-bold text-gray-700 tracking-wide">
              Адрес электронной почты
            </div>
            <input
              v-model="email"
              class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-green-500"
              type="email"
              placeholder="user@mailserver.com"
            />
          </div>
          <div class="mt-8">
            <div class="flex justify-between items-center">
              <div class="text-sm font-bold text-gray-700 tracking-wide">
                Введите пароль
              </div>
            </div>
            <input
              v-model="password"
              class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-green-500"
              type="password"
              placeholder="Введите Ваш пароль"
            />
          </div>
          <div class="mt-8">
            <div class="flex justify-between items-center">
              <div class="text-sm font-bold text-gray-700 tracking-wide">
                Введите подтверждение пароля
              </div>
            </div>
            <input
              v-model="repeatPassword"
              class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-green-500"
              type="password"
              placeholder="Введите подтверждение пароля"
            />
            <p v-if="error" class="text-sm text-red-500">{{ error }}</p>
          </div>
          <div class="mt-10">
            <button
              @click="register"
              class="bg-green-500 text-white p-4 w-full rounded-full tracking-wide
                                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-green-600
                                shadow-lg"
            >
              Регистрация
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      email: "",
      name: "",
      password: "",
      repeatPassword: "",
      error: "",
    };
  },
  methods: {
    async register() {
      // проверка для фронта но вообще должна делаться на бэке
      var data = {
        name: this.name,
        email: this.email,
        password: this.password,
        repeatPassword: this.repeatPassword,
      };
      await axios.post("backend/register", data).then((res) => {
        if (res.status === "200") {
          localStorage.token = res.token;
          this.$router.push("/dashboard");
        } else {
          this.error = res.error;
        }
      });
      //   if (this.password === this.repeatPassword) {
      //     if (this.name != "") {
      //       if (this.password != "") {
      //         if (this.email != "") {
      //           if (this.repeatPassword != "") {
      //             this.error = "";
      //             console.log("Вы залогинились");
      //           } else {
      //             this.error = "Не введено подтверждение пароля";
      //           }
      //         } else {
      //           this.error = "Не введен логин";
      //         }
      //       } else {
      //         this.error = "Не введен пароль";
      //       }
      //     } else {
      //       this.error = "Не введено имя";
      //     }
      //   } else {
      //     this.error = "Пароли не совпадают";
      //   }
    },
  },
};
</script>

<style></style>
