<template>
  <div id="app">
    <nav class="bg-white shadow-xl dark:bg-gray-800">
      <div class="container mx-auto md:flex md:justify-between md:items-center">
        <div class="flex items-center justify-between">
          <div>
            <router-link
              class="text-xl flex items-center font-bold text-gray-800 dark:text-white md:text-2xl hover:text-gray-700 dark:hover:text-gray-300"
              to="/"
              ><img class="w-20" src="./assets/ico.png" alt="" />
              <p class="px-2 text-3xl text-green-600">
                Watsupp bot
              </p></router-link
            >
          </div>

          <!-- Mobile menu button -->
          <div class="flex md:hidden">
            <button
              type="button"
              class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
              aria-label="toggle menu"
            >
              <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                <path
                  fill-rule="evenodd"
                  d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                ></path>
              </svg>
            </button>
          </div>
        </div>

        <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
        <div class="items-center md:flex">
          <div class="flex flex-col md:flex-row md:mx-6">
            <router-link
              class="my-1 text-gray-700 dark:text-gray-200 hover:text-green-500 dark:hover:text-green-400 md:mx-4 md:my-0"
              to="/login"
              >Вход</router-link
            >
            <router-link
              class="my-1 text-gray-700 dark:text-gray-200 hover:text-green-500 dark:hover:text-green-400 md:mx-4 md:my-0"
              to="/register"
              >Регистрация</router-link
            >
            <router-link
              class="my-1 text-gray-700 dark:text-gray-200 hover:text-green-500 dark:hover:text-green-400 md:mx-4 md:my-0"
              to="/dashboard"
              >Панель</router-link
            >
            <router-link
              class="my-1 text-green-700 dark:text-gray-200 hover:text-green-500 dark:hover:text-green-400 md:mx-4 md:my-0"
              to="/profile"
              >{{ user.name }}</router-link
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="container w-full p-5 m-4 mx-auto text-center ">
      <router-view />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isLogged: false,
      user: {
        name: "Серега",
      },
    };
  },
};
</script>

<style></style>
